.container.toolbar.border{
    margin-top: 50px;
    height: 400px;
    width:50%;
}
.button{
    background-color: rgb(132, 190, 211);
    border-radius: 5px;
    border-style:none;
    margin-left: -1px;
    margin-top: 15px;
}
.form-control{
    background-color:rgb(202, 224, 232);
    width: 80%;
}