.container.toolbar.border{
    margin-top: 70px;
    height: 270px;
    width:50%;
}
.email{
    margin-left: 20px;
    margin-top: 5px;
}
.form-control{
    background-color:rgb(202, 224, 232);
    width: 40%;
}
.password{
    margin-left: 20px;
    margin-top: 25px;
}
.button{
    background-color: rgb(132, 190, 211);
    border-radius: 5px;
    border-style:none;
    margin-left: 20px;
    margin-top: 15px;
}